/* header, main, footer e div*/

header{
    background-color: black;
    color: white;
    text-align: center;
}

main{
    background-color: lightgrey;
    text-align: center;
    width: 700px;
    margin: 0 auto; 
}

footer{
    background-color: black;
}

div{
    text-align: justify;
}


/*seletores tags*/

legend{
    text-align: justify;
}

button{
    background-color: yellow;
    border-radius: 10px 20px;
}

textarea{
    width: 500px;
    height: 100px;
}

/*class*/
.caixa{
    width: 500px;
}
